# /etc/systemd/system/cd-ctl.service

[Unit]
Description=CD-Controller API Service
After=network.target sound.target
Wants=sound.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/cdplayer/cd-ctl-node
Restart=always
User=cduser
Group=cduser
Environment=NODE_ENV=production
Environment=PATH=/usr/bin:/usr/local/bin
StandardOutput=journal
StandardError=journal
SyslogIdentifier=cd-ctl

[Install]
WantedBy=multi-user.target
